<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="SHORTCUT ICON" href="/static/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>{%block entiretitle %}code.voo2do.com: {% block title %}{% endblock %}{% endblock %}</title>

    <script type="text/javascript" src="/static/js/jquery-1.4.js"></script>
    <script type="text/javascript" src="/static/js/jquery.voodookit.js"></script>

</head>

<body {% block bodyattrs %}{% endblock %}>
  {% block header %}
  <div id="header">
    {% include '_myname_site.html' %}
    {% if in_voodookit %}
    /
    {% include '_myname_voodookit.html' %}
    {% endif %}
  </div>
  {% endblock %}
  {% block subheader %}{% endblock %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  {% block footer %}
  <div id="footer">
    Voo2do, Voodookit, and all <tt><i>code.voo2do.com</i></tt> content &copy;&nbsp;2009 <a href="http://rura.org/shimon/">shimon rura</a>.  bugs/ideas?  <a href="mailto:shimon@rura.org">email shimon</a>.
  </div>

  {% if show_test_count %}
  <span id="all_test_results">Tests loading...</span>
  <script type="text/javascript" src="/static/js/voodookit-tests.js"></script>
  {% endif %}
  {% endblock %}


  {% block bodyendscript %}{% endblock %}
</body>
</html>
