{% extends 'vkit_base.html' %}
{% load exampletool %}

{% block subtitle %}Overview{% endblock %}

{% block maincontent %}
<h1 class="notopmargin">{% include '_myname_voodookit.html' %}: Making &lt;table&gt;s Interactive, Editable, and Awesome</h1>

<p>

  Voodookit is a <a href="http://jquery.com">jQuery</a> plugin designed to
  turn tables of data into sortable, editable, interactive page components.  You
  can use it for something as simple as making an HTML table sortable by any
  column, but its main use is in creating specialized spreadsheet-like apps.

</p>

<p>

  Voodookit was originally built for
  <a href="http://voo2do.com">Voo2do.com</a>, a web-based task management
  system.

</p>

<p style="text-align:center; font-size: 75%;">
  <a style="font-size: 200%" href="/static/js/jquery.voodookit.js">Download <tt>jquery.voodookit.js</tt></a>
  <br/>
  Free Software, Dual-Licensed MIT or GPL like jQuery
  <br/>
  Requires <a href="http://blog.jquery.com/2009/12/04/jquery-14-alpha-1-released/">JQuery 1.4a1 or later</a>
</p>


<h2>A Quick Demo</h2>
{% example "demo" %}

    {% htmlcode %}
    <table id="{{eid}}">
      <tr> <th>Visitor Type</th>           <th># Visitors</th> </tr>
      <tr> <td>jQuery Plugin Enthusiast</td>     <td>1234</td> </tr>
      <tr> <td>&lt;table&gt; Apologist</td>       <td>779</td> </tr>
      <tr> <td>Curious Hacker</td>                <td>403</td> </tr>
      <tr> <td>Confused Voodoo Practitioner</td>    <td>8</td> </tr>
    </table>

    <a href="#" id="{{eid}}_add">add row</a>

    <p>
      <img id="{{eid}}_graph" src="http://chart.apis.google.com/chart?cht=p&chs=600x200"/>
    </p>
    {% endhtmlcode %}

    {% jscode %}
    var vk{{eid}} = $("#{{eid}}").voodoo({ cols: [
      { name: "vtype",
        type: $.voodoo.types.htmlEscapedString,
        render: new $.voodoo.render.TextField() },
      { name: "count",
        type: $.voodoo.types.integer,
        render: new $.voodoo.render.TextField() }
    ]});

    // 
    var img_baseURL = $("#{{eid}}_graph").attr("src");

    function {{eid}}_redraw() {
        var labels = $.map(vk{{eid}}.col("vtype").cellValues(),
                           encodeURIComponent).join("|");

        var data_sum = vk{{eid}}.col("count").sum();
    
        // calculate percentage for each component
        var data = $.map(vk{{eid}}.col("count").cellValues(),
                         function(n) { return n/data_sum * 100; }).join(",");

        $("#{{eid}}_graph").attr("src", 
                                 img_baseURL + "&chl=" + labels + 
                                 "&chd=t:" + data);
    }

    $("#{{eid}}").bind("vkChange", {{eid}}_redraw);
    {{eid}}_redraw();

    $("#{{eid}}_add").click(function() { 
        vk{{eid}}.appendRow();
        return false;
      });

    {% endjscode %}

{% endexample %}




{% comment %}
<p>
  
  Unlike the typical table view widget (example[TODO: link to YUI table
  view), Voodookit is designed to give the developer a great deal of
  flexibility in how tabular data is presented, and what the user can do
  with it.

</p>
{% endcomment %}

<p>
  The full feature set includes:
  (features existing in Voodookit 0.1, to be rewritten as a jQuery plugin)
</p>

<ul>
  
  <li>
    <b>Editing.</b> Users can change cell values, add rows, and delete rows. Changes can be saved to your server (peicemeal or on form submission) or handled by custom javascript.
  </li>

  <li>
    <b>Pagination.</b> Ajax requests can load additional data from your server as needed.
  </li>

  <li>
    <b>Sorting.</b> Re-order table rows based on any column.
  </li>

  <li>
    <b>Templating.</b> Change how cell data is represented using a powerful yet simple template language.
  </li>

  <li>
    <b>Computed Columns.</b> Need to display a <i>time remaining</i> column based on existing <i>total</i> and <i>elapsed</i> column data?  Or just need it calculated for easy reference?  Voodookit makes it easy.
  </li>

  <li>
    <b>Reduction.</b> Compute and display a total, average, or other reduction of an entire column at the bottom of your table, with automatic recalculation if relevant cell values are changed.
  </li>

  <li>
    <b>Data types.</b> Strings, integers, dates, times: tell us what type of data you want in a column, and we'll ensure that it's parsed and serialized properly, And that nobody can get away with typing "banana" in an integer field.  Use the built-in types or create your own.
  </li>

</ul>



<p>Features planned for this new improved version:</p>

<ul>

  <li>
    <b>Filtering.</b> Dynamically show and hide rows based on cell contents.
  </li>

  <li>
    <b>jQuery Events.</b>  Hook into any table events: new rows, edits, recalculation of reductions, etc.
  </li>

  <li>
    <b>Column resizing.</b> If our smart column sizes still aren't quite right, users can drag header edges to resize.
  </li>

  <li>
    <b>Keyboard control.</b> Use customizable key bindings to move a row cursor up and down (like in GMail) and trigger row-specific actions.
  </li>


{% comment %}
  <li>
    <b>.</b>
  </li>
{% endcomment %}

</ul>







{% endblock %}

